form {
    width: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #496A3A;
    padding: 15px;
}

h1 {
    text-align: center;
}

label {
    display: block;
    text-align: center;
    color: whitesmoke;
    font-family: "Copperplate Gothic Bold", fantasy;
    font-size: 15px;
}

input {
    margin: auto;
    width: 200px;
}

textarea {
    margin: auto;
    width: 300px;
    height: 150px;
    box-sizing: border-box;
}

button {
    margin: auto;
    width: 100px;
    height: 30px;
    color: #465a28

}

button:hover {
    background-color: #8fae84;
    cursor: pointer;
}


