.circular-logo {
    width: 150px;
    display: block;
    margin: auto;
    margin-bottom: 5px;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: flex-end;
    background-color: #DCE5C1;
    padding: 8px;
}

nav a {
    color: #5b6e58;
    text-decoration: none;
    padding: 8px;
    transition: 0.2s;
}

nav a:hover {
    color: #333333;
    font-weight: bold;
}

nav a.active {
    font-weight: bold;
    color: #333333;

}

.horizontal-logo {
    width: 200px;
    display: block;
    margin-left: 15px;
}

body {
    background-color: #F4F1E8;
    color: #26351F;
}

.banana-section {
    position: relative;
    isolation: isolate;
}

.banana-section::before {
    content: "";
    position: absolute;
    inset: 0;

    min-height: 100vh;
    background-image: url("../img/bananapeel-baggrund.png");
    background-repeat: repeat;
    background-size: 200px;

    opacity: 0.10;
    z-index: -1;
}

footer {
    background-color: #DCE5C1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 250px;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}