.hero{
    display: flex;
    align-items: center;
    gap: 40px;

    margin: 80px auto 100px;
    width: 70%;

    padding: 20px;
}

.hero img{
    width: 50%;
    height: 300px;
    object-fit: cover;
}



main{
    margin: 0 auto 100px;
    width: 70%;
    padding: 20px;
}

.testVidenTekst{
    padding-bottom: 20px;
}



.questionContainer{
    border-style: solid;
    border-color: #dfdfdf;
    border-radius: 4px;
    padding-bottom: 80px;
    background-color: whitesmoke;
}

.questionIndicator{
    color: #8e8b8b;
    font-size: 12px;
    padding-left: 12px;
    position: absolute;
}

.question p{
    text-align: center;
    font-weight: bold;
    padding-bottom: 12px;
    font-size: 18px;
}

.radio-btn {
    border-radius: 4px;
    padding-bottom: 10px;
    text-align: center;
}

body{
    background-color: white !important;
}